.header{
    grid-area: NavBar;
    display: grid;
    justify-content: center;
    background-color: darkblue;
}
.headerImg{
    width: 80px;
}
.profileImage{
    
    width: 200px;
}
.card{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    padding: 30px;
    border: 1px solid black;
    width: 100%; 
    height: 100%;
    border-radius: 20%;
    
    
}

.container{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    justify-content: center;
    gap: 20px;
  
}

